body{
    padding:0;
    margin:0;
    font-size:42px;
}
h3{
    font-size:42px;
}
.calculator .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculator .wrapper h3{
    margin:20px 0;
}
.result-parent{
    width:440px;
    background-color: #e0e0e0;
    padding:5px 0;
    margin-bottom: 10px;
}
.result{
    text-align: end;
    padding-right: 30px;
}
.calculator .operate{
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap:10px
}
.calculator .operate button{
    height:50px;
    font-size:24px;
    border-radius: 10px;
}
.bottom-line{
    grid-column: span 2;
}